<html>
{% extends 'base.html' %}
{% block pagetitle %}
AI Engine
{% endblock pagetitle %}

{% block body %}
<div>
    
    <div class="container">
        <!-- For demo purpose -->
        <div class="row mb-5 text-center text-white">
            <div class="col-lg-10 mx-auto">
                <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>AI Engine</b></h1>
                
            </div>
        </div>
        <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
        <script>
            function loadGoogleTranslate() {
                new google.translate.TranslateElement("myid")
            }
        </script>
        <div id="myid"></div>
        <!-- End -->
        <div class="row ">
            <div class="col mx-auto">
                <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">

                    <h5><b>Why is it necessary to detect disease in plant ?</b></h5>
                    <p>Detecting plant diseases is crucial for their growth, productivity, and overall well-being. If untreated, these issues can spread quickly, damaging plants, soil, and the ecosystem. Like silent friends, plants need attentive care. By monitoring their health and detecting problems early, we can provide the necessary treatment, helping them recover and thrive. As plant caretakers, it's our responsibility to observe changes in color, shape, or behavior, preventing disease spread and promoting healthy growth. Let's be the plant doctors they need, ensuring a bountiful harvest with love, care, and attention.
                        
                    </p>
                </div>
            </div>
            <div class="col mx-auto">
                <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;"><img
                        src="https://www.pngjoy.com/pngl/250/4840262_plants-png-indoors-tropical-plant-png-hd-png.png "
                        height="300" alt="" width="200" class="d-block mx-auto mb-4 rounded-pill">

                    <!-- Default bootstrap file upload-->

                    <form action="/submit" method="POST" enctype="multipart/form-data">
                        <div class="custom-file overflow-hidden mb-4">
                            <input type="file" id="actual-btn" hidden name="image" />
                            <label for="actual-btn">Choose File</label>
                            <span id="file-chosen">No file chosen</span>
                        </div>

                        <!-- End -->

                        <h6 class="text-center mb-4 text-muted">
                            Simply upload your plant's leaf image and then see the magic of AI.
                        </h6>

                        <!-- Custom bootstrap upload file-->
                        <center>
                            <a class="mx-2"><button type="submit" class="btn btn-outline-success">Submit</button></a>
                        </center>
                    </form>
                    <!-- End -->

                </div>
            </div>
            <div class="col mx-auto">
                <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
                    <h5><b>Prevent Plant Disease follow below steps:</b></h5>
                    <ol>
                        <li>Follow Good Sanitation Practices.</li>
                        <li>Fertilize to Keep Your Plants Healthy.</li>
                        <li>Inspect Plants for Diseases Before You Bring Them Home.</li>
                        <li>Allow the Soil to Warm Before Planting.</li>
                        <li>Ensure a Healthy Vegetable Garden By Rotating Crops.</li>
                        <li>Provide Good Air Circulation</li>
                        <li>Remove Diseased Stems and Foliage</li>
                    </ol>
                    <a target="_blank" href="https://www.thespruce.com/prevent-plant-diseases-in-your-garden-2539511"
                        class="mx-2"><button type="button" class="btn btn-outline-success">More info</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const actualBtn = document.getElementById('actual-btn');

    const fileChosen = document.getElementById('file-chosen');

    actualBtn.addEventListener('change', function () {
        fileChosen.textContent = this.files[0].name
    })
</script>

{% endblock body %}